@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;500&display=swap');

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.container-big{
    max-width: 1400px;
    margin: 0 auto;
}


.scroll-page_btn{
    position: fixed;
    bottom: 100px;
    right: 120px;
    display: none;
    padding: 30px 20px;
    background: #6F2205;
   border-radius: 5px;
   transition: all 500ms ease;
   &:hover{
       padding: 25px 15px;
   }
}

/* HEADER */


.header-red{
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow:0px 3px 8px 0px rgba(50, 46, 50, 0.59);
    background: linear-gradient(0deg, #6F2205, #6F2205), linear-gradient(122.63deg, rgba(0, 0, 0, 0.5) 30.48%, rgba(255, 255, 255, 0) 90.46%, rgba(147, 176, 208, 0.5) 90.46%)
}



.header-inner{
    padding: 17px 0px 0px 0px;
}

.header-top{
    display: flex;
    align-items: center;

}

.header-top_info{
    display: flex;
}
.header-phone{
display: flex;
align-items: center;
text-decoration: none;
font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 125.5%;
color: #FFFFFF;
margin-right: 10px;
img{
    margin-right: 10px;
}

}
.header-time{
    display: flex;
font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 125.5%;
color: #FFFFFF;

img{
    margin-right: 10px;
 }
}

.header-nav{
    margin-left: 98px;
    margin-right: 36px;
}
.header-list{
    display: flex;
}

.header-item{
font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 125.5%;
text-align: right;
&:not(:last-child){
    margin-right: 25px;
}

}

.header-item_link{
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
  
    &::after{
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        display: block;
        background-color: white;
        border-radius: 10px;
        transition: all 500ms ease;
    }
}

.header-item_link:hover::after{
    width: 100%;
}

.header-social_link:nth-child(2){
    margin: 0px 20px;
}

.header-social_img{
    transition: all 500ms ease;
    &:hover{
        transform: rotate(360deg);
    }
}

.header-place_mark{
    margin-bottom: 14px;
    margin-top: 10px;
font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 125.5%;
color: #FFFFFF;
display: flex;
align-items: center;
img{
    margin-right: 8px;
}

}

.header-bottom_red{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}



.header-bottom_red{
    padding: 10px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.header-bottom_title{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 125.5%;
color: #EACC97;
text-decoration: none;
transition: 500ms ease;
&:hover{
    transform: scale(1.2);
  }
}


/* ДОКТОРА */
.our-doctors_red{
    background: linear-gradient(180deg, rgba(222, 232, 236, 0.2) 5%, rgba(222, 232, 236, 0.076) 100%), url(../img/our-doctors_optimized.jpg);
    min-height: 785px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 90px;
}
.our-doctors_content{
    padding-top: 95px;
}
.doctors-subtitle{
    font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 125.5%;
color: #A36C22;
border-bottom: 2px dashed #EACC97;
margin: 0 auto;
max-width: 233px;
}

.doctors-title{
    margin-top: 10px;
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 107%;
text-align: center;
color: #000000;

}


.doctor__slider{
    margin-top: 55px;
    display: flex;
    align-items: center;
}

.slick-arrow{
background: #FFFFFF;
border-radius: 5px;
border: none;
padding: 25px 30px;
cursor: pointer;
transition: all 500ms ease;
&:hover{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  }
}


.doctor__slider-inner{
    max-width: 920px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
 
    &::after{
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        left: 90%;
        bottom: 0;
        background-image: url(../img/ques-mark.svg);
        background-repeat: no-repeat;
    }
}

.doctor__slider-img{
    position: absolute;
    top: -70px;
}
.slick-dots{
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    li{
        width: 10px;
        height: 10px;
        background: #DEE8EC;
        border-radius: 2px;
      
      
     button{
      
        font-size: 0;
        border: none;
        padding: 0;
     } 
    }
}


.slick-dots li:not(:last-child){
    margin-right: 10px;
}

      

.slick-dots{
    .slick-active{
        background: #93B0D0;
    }
}

.doctor__slider-info{
    padding: 29px 29px 36.5px 300px;
}
.doctor__slider-name{
    font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 138.5%;
color: #000000;

}

.doctor__slider-content{
    display: flex;
    margin-top: 5px;
}
.doctor__slider-spec{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 138.5%;
    color: #A36C22;
display: flex;
align-items: center;
img{
    margin-right: 10px;
 }
}


.doctor__slider-time{
    margin-left: 30px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 138.5%;
    color: #A36C22;
    display: flex;
    align-items: center;
    img{
        margin-right: 10px;
     }
}


.doctor__slider-text{
    margin-top: 14px;
    font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 138.5%;
color: #000000;
max-width: 575px;
}

.doctor__slider-link{
    margin-top: 20px;
    font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 138.5%;
text-decoration-line: underline;
color: #6F2205;
display: flex;
align-items: center;
img{
    margin-left: 10px;
    transition: all 500ms ease;
  }
}

.doctor__slider-link:hover{
   img{
margin-left: 25px;
   }
}


.doctor__slider-btn{
    width: 255px;
    height: 60px;
    background: #6F2205;
   border-radius: 5px;
   transition: all 500ms ease;
   border: none;
   outline: none;
   font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 125.5%;
color: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
margin: 100px auto 0px auto;
cursor: pointer;
&:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
 }
}



.slick-list{
    padding-top: 60px;
}


/* ПРАЙС-ЛИСТ */
.price-list_red{
    padding-top: 250px;
    margin-bottom: 100px;
}
.price-list_subtitle-red{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 125.5%;
 text-align: center;
    color: #000000;
    span{
        font-weight: bold;
    }
    
}

.price-list_title-red{
    margin-top: 25px;
    font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 107%;
text-align: center;
color: #000000;

}



.price-list_items{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 35px;
}
.price-list_item{
    padding: 20px 12px 20px 30px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}
.price-item_img{
    display: flex;
    margin: 0 auto;
}

.price-item_title{
    margin-top: 5px;
    font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 138.5%;
text-align: center;
color: #000000;
margin-bottom: 15px;
}
.price-item_price{
    font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 138.5%;
color: black;
margin-bottom: 15px;
padding: 18px 5px 18px 10px;
background: rgba(222, 232, 236, 0.3);
border-radius: 5px;
span{
    color: #93B0D0;
 }
}
.price-item_info{
    margin-bottom: 12px;
}
.price-info_text{
font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 160.5%;
color: #000000;
img{
    margin-right: 15px;
}
&:not(:last-child){
    margin-bottom: 20px;
 }
}

.price-item_link{
    margin-top: 12px;
    font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 138.5%;
text-decoration-line: underline;
color: #6F2205;
cursor: pointer;
img{
    margin-left: 9px;
    transition: all 500ms ease;
}

}

.price-item_link:hover{
    img{
        margin-left: 25px;
    }
}


.price-list_help{
    margin-top: 100px;
}

.price-help_subtitle{
    border-bottom: 2px dashed #EACC97;
    font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 125.5%;
color: #A36C22;
max-width: 212px;
margin: 0 auto;

}

.price-help_title{
    margin-top: 20px;
    font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 107%;
text-align: center;
color: #000000;
}

.price-help_text{
    max-width: 1105px;
    font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 160.5%;
text-align: center;
color: #000000;
margin-top: 20px;
}

.price-help_btn{
    background: transparent;
    border: none;
    outline: none;
    font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 138.5%;
text-decoration-line: underline;
color: #6F2205;
cursor: pointer;
display: flex;
align-items: center;
margin: 30px auto 0px auto;
img{
    margin-left: 13px;
    transform: translateY(25%);
} 
}

/* НЕ ХОЧЕТ ЛЕЧИТЬСЯ ? */
.health{
    background-image: url(../img/health-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 82px 0px 88px 0px;
    margin-bottom: 105px;
}

.health-content{
    margin-left: 500px;
}
.health-content_subtitle{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 125.5%;
    color: #FFFFFF;
    border-bottom: 2px dashed #FFFFFF;
  
    
}

.health-content_title{
    margin-top: 30px;
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 107%;
color: #FFFFFF;
margin-bottom: 30px;
}

.health-content_text{
    font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 138.5%;
color: #FFFFFF;
max-width: 635px;
margin-bottom: 45px;
}

.health-content_btn{
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 125.5%;
text-align: center;
color: #FFFFFF;
padding: 18px 20px;
background: #6F2205;
border-radius: 5px;
text-decoration: none;
transition: all 500ms ease;
&:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

}

/* СЕРТИФИКАТЫ */
.certificates_red{
    margin-bottom: 150px;
}

.certificate-subtitle{
    font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 125.5%;
color: #A36C22;
border-bottom: 2px dashed #EACC97;
margin: 0 auto;
max-width: 283px;

}

.certificate-title{
    margin-top: 10px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 107%;
    text-align: center;
    color: #000000;
}

.certificate-text{
    
    font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 160.5%;
text-align: center;
color: #000000;
max-width: 685px;
margin: 20px auto 0px auto;

}


/* СЕРТИФИКАТ АЙТЕМЫ */
.certificate__slider{
    margin-top: 35px;
    display: flex;
    align-items: center;

}
.certificate__inner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificate-link:nth-child(even){
margin: 0px 20px;
}


/* ВОПРОСЫ  */

.question{
    background:url(../img/question-bg_optimized.jpg);
    background-position: center;
    background-size: cover;
    
}

.question-content{
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}

.question-subtitle{
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 125.5%;
color: #FFFFFF;
border-bottom: 2px dashed #FFFFFF;
max-width: 197px;
}

.question-title{
    margin-top: 5px;
    font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 107%;
color: #FFFFFF;

}

.question-text{
margin-top: 20px;
font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 160.5%;
color: #FFFFFF;
max-width: 433px;

}


/* ФОРМА ИНПУТОВ */
.question-right_block{
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
border-radius: 5px;
background-color: #FFFFFF;
padding: 20px 25px 30px 25px;
}
.question-right_title{
    font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 138.5%;
text-align: center;
color: #000000;

}

.question-right_btn{
width: 290px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
margin: 20px auto 0px auto;
border: none;
outline: none;
background: #6F2205;
border-radius: 5px;
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 125.5%;
color: #FFFFFF;
transition: all 500ms ease;
cursor: pointer;
&:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
       }
}
.question-right_inputs{
    margin-top: 20px;
}

.question-input{
    outline: none;
    width: 275px;
    height: 50px;
    border: 1px solid #93B0D0;
    border-radius: 5px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 107%;
color: #93B0D0;
padding-left: 18px;
    &:nth-child(1){
        margin-right: 12px;
    }
}

.question-input::placeholder{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 107%;
    color: #93B0D0;
}


.help-list{
    padding: 100px 0px;
}

/* ФУТЕР */


.footer{
    background: linear-gradient(0deg, #93B0D0, #93B0D0), linear-gradient(139.76deg, rgba(255, 255, 255, 0.8) 18.18%, rgba(255, 255, 255, 0) 123.91%);
}


.footer-content_top{
    padding: 20px 0px 95px 0px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-top_info{
    display: flex;
}



.footer-phone{
    display: flex;
align-items: center;
text-decoration: none;
font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 125.5%;
color: #FFFFFF;
margin-right: 30px;
img{
    margin-right: 10px;
  }
}

.footer-place_mark{
    display: flex;
align-items: center;
text-decoration: none;
font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 125.5%;
color: #FFFFFF;
margin-right: 10px;
img{
    margin-right: 10px;
  }
}


.footer-bottom{
    padding-top: 13px;
  display: flex;
  justify-content: space-between;
}

.footer-bottom_logo{
    font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 125.5%;
color: #EACC97;
text-decoration: none;
transition: all 500ms ease;
&:hover{
    transform: scale(1.2);
  }
}

.footer-bottom_text{
    margin-top: 10px;
    font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 138.5%;
color: #FFFFFF;
max-width: 355px;

}


.footer-bottom_title{
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 138.5%;
color: #FFFFFF;
}

.footer-nav{
    margin-top: 25px;
}

.footer-list_item:not(:last-child){
margin-bottom: 15px;
}
.footer-list_link{
 font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 138.5%;
color: #FFFFFF;
text-decoration: none;
position: relative;
&::after{
    position: absolute;
    content: "";
    display: block;
    width: 0;
    background-color: white;
    height: 1px;
    transition: all 500ms ease;
}

}

.footer-list_link:hover::after{
    width: 100%;
}

.footer-bottom_news{
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 138.5%;
color: #FFFFFF;
margin-bottom: 30px;
}


.footer-news_item{
    display: flex;
    align-items: center;
   img{
    border-radius: 5px;
   }
    &:not(:last-child){
        margin-bottom: 20px;
    }
}
.footer-news_text{
   margin-left: 10px;
}


.footer-news_title{
    font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 138.5%;
color: #FFFFFF;
}

.footer-news_time{
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 138.5%;
color: #EACC97;
}




.footer-content_bottom{
    padding: 20px 0px;
    background: rgba(255, 255, 255, 0.2);
}
.footer-content_bottom-info{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content_title{
    font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
letter-spacing: 0.01em;
color: #FFFFFF;
}

.footer-content_link{
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
text-align: right;
letter-spacing: 0.01em;
text-decoration-line: underline;
color: #FFFFFF;

}



/* DROP-DOWN MENU */

.dropbtn {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 138.5%;
    color: #FFFFFF;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    
  }
  
  .drop-btn_arrow{
      margin-left: 7px;
      &--current{
          transform: rotate(180deg);
      }
  }
 
  
  .dropdown {
    position: relative;
    display: inline-block;
    &:not(:last-child){
        margin-right: 80px;
    }
  }
  
  .dropdown-content {
      margin-top: 12px;
    display: none;
    position: absolute;
   min-width: 215px;
    background: #FFFFFF;
    padding: 15px 20px;
     border-radius: 5px;
     transition: all .5s ease-out;
     box-shadow: -1px 4px 16px 2px rgba(34, 60, 80, 0.2);
  }
  
  .dropdown_link{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 138.5%;
    display: inline-block;
    color: #000000;
    text-decoration: none;
    position: relative;
    &:not(:last-child){
        margin-bottom: 15px;
    }
  }
  
  .dropdown_link::after{
content: "";
position: absolute;
display: block;
height: 2px;
background-color: black;
width: 0;
transition: all 500ms ease;
  }


  .dropdown_link:hover::after{
      width: 100%;
  }
  
  
  .show{
      display: block;
    }


